<!DOCTYPE html>
<html>
    <head>
        <title>Images</title>
        <link rel="stylesheet" href="croppie.css" />
    </head>
    <body>

        <h3 style="text-align: center;">Image upload and crop</h3><br>
        <p style="text-align: center;">select image</p>
        <input type="file" id="upload_image" accept="image/*">
        <div id="uploadimage"></div>
        <button class="crop_image">crop and upload image</button>
        <div id="uploaded_image"></div>
        <img src="" id="showimg"/>
        <script src="jquery-3.5.0.min.js"></script>
        <script src="croppie.js"></script>
        <script src="myjs.js"></script>
    </body>
</html>