<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from frontendmatters.org/quicky/light-skin/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Aug 2020 06:21:10 GMT -->
<head>
    <meta charset="UTF-8">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <!-- SEO Meta Tags-->
    <meta name="keywords" content="quicky, chat, messenger, conversation, social, communication" />
    <meta name="description" content="Quicky is a Bootstrap based modern and fully responsive Messaging template to help build Messaging or Chat application fast and easy." />
    <meta name="subject" content="communication">
    <meta name="copyright" content="frontendmatters">
    <meta name="revised" content="Sunday, July 18th, 2010, 5:15 pm" />
    <title>Quick - Login</title>
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="shortcut icon" href="../favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../assets/webfonts/inter/inter.css"> 
    <link rel="stylesheet" href="../assets/css/app.min.css">
</head>

<body class="authentication-page">

    <!-- Main Layout Start -->
    <div class="main-layout card-bg-1">
        <div class="container d-flex flex-column">
            <div class="row no-gutters text-center align-items-center justify-content-center min-vh-100">
                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                    <h1 class="font-weight-bold">Sign in</h1>
                    <p class="text-dark mb-3">We are Different, We Make You Different.</p>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email Address</label>
                            <input type="email" class="form-control form-control-md" id="lemail" placeholder="Enter your email">
                            <span id="leerror" style="color: red;"></span>
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" class="form-control form-control-md" id="lpassword" placeholder="Enter your password">
                        </div>
                        <button id="lsubmit" onclick="signin()" class="btn btn-primary btn-lg btn-block text-uppercase font-weight-semibold" type="submit">Sign in</button>
                    </div>

                    <p>Don't have an account? <a class="font-weight-semibold" href="/Signup">Sign up</a>.</p>
                </div>
            </div> 
        </div>
    </div>
    <!-- Main Layout End -->
  

    <!-- Javascript Files -->
    <script src="../assets/vendors/jquery/jquery-3.5.0.min.js"></script>
    <script src="/JavaScript/light-style.js"></script>
    <script src="/JavaScript/socketStyle.js"></script>
    <script src="/JavaScript/socket.io.js"></script>
    <script src="../assets/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendors/svg-inject/svg-inject.min.js"></script>
    <script src="../assets/js/app.js"></script>

</body>


<!-- Mirrored from frontendmatters.org/quicky/light-skin/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Aug 2020 06:21:10 GMT -->
</html>